@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,600&family=Poppins:wght@400;600&family=Rubik:wght@300;400&display=swap');


/* 
Light 300
Regular 400
Regular 400
Semi-bold 600

font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;

 */

body{
    margin: 0px;
    font-family: 'Rubik', sans-serif;

 }

h1{
    font-size: 50px;
}
h2{ font-size: 40px;}
p{color: dimgray;}

.orange-highlight{
    color: orange;
}

.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 100px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 80%;
}

.link-button{
    text-decoration: none;
    /* background-color: orange; */
    background-image: linear-gradient(46deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    
}



/* Dream area */
.dream-area{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* Exprience */
.single-exprience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 70%;
    background-color: white;
}

.Experience-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{
    border-left: 6px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 6px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

footer p{ text-align: center;}